/* Styles for Wikipedia Page */

a {
    color: #0645ad;
}

h5 {
    font-size: 15px;
}

.left-sidebar {
    float:left;
    padding: 10px;
    font-size: 12px;
}

.sidebarMenu {
    list-style-type: none;
    position: relative;
    right: 30px;
    margin-right: 30px;
    font-size: 12px;
}

.main-section {
    margin-top: 10px;
    margin-left: 13%;
    width: 75%;
    font-size: 14px;
}

.grad1 {
    background: #D3D3D3;
    background: -webkit-linear-gradient(#fff, #D3D3D3, #fff); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #D3D3D3, #fff); /*For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #D3D3D3, #fff); /*For Firefox 3.6 to 15*/
    background: linear-gradient(#fff, #D3D3D3, #fff); /*Standard syntax (must be last) */
}

.card {
    background-color: #f6f6f6;
}

.cardColumn2, .cardColumn3, .cardColumn4 {
    padding-top: 20px;
}

.nav {
    margin-left: 1px;
    padding-top: 30px;
}

.nav-item {
    padding: 5px;
}

.navbar-2 {
    padding-left: 70px;
}

.welcome-box {
    background-color: #f6f6f6;
    padding: 20px;
    margin-left: 1px;
    border: 1px solid #eaeaea;
    width: 113%;
}

.columns {
    width: 115%;
    padding: 15px;
    position: relative;
}

.column1 {
    border: 1px solid #cef2e0;
    background-color: #effff7;
    padding-top: 20px;
}

.column2 {
    border: 1px solid #cedff2;
    background-color: #effbff;
    padding-top: 20px;
    padding-right: 50px;
}

.alert-success {
    padding: 10px;
    border: 1px solid #a3bfb1;
}

.alert-primary {
    padding: 10px;
    border: 1px solid #a3b0bf;
}

.featuredImage2, .featuredImage3, .featuredImage4 {
    float: right;
}

.featuredFooter1, .featuredFooter3 {
    text-align: right;
}